* {
    margin: auto;
    max-width:300px;
}
div {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

label, input, select {
    position: relative;
    font-size: 30px;
    padding: 10px;
    top: 20vh;
    display: block;
}

div.to {
    position: fixed;
    right: 30vh;
}

div.from {
    position: fixed;
    left: 30vh;
    top: 6vh;
}

select {
    width: 291px;
}

input {
    width: 250px;
}

select, input {
    display: block;
    border: 1px solid #000000;
    padding: 20px;
    font-size: 25px;
    border-radius: 5px;
    font-style: italic;
}

h1 {
    position: fixed;
    text-align: center;
    top: 10vh;
    font-size: 40px;
}

.btn {
    position: relative;
    right: 66vh;
    background-color: white;
    border: none;
    padding: 12px 12px;
    font-size: 45px;
    cursor: pointer;
}

p {
    position: relative;
    text-align: center;
    font-size: 25px;
    top: 30vh;
}
