div {
    position: relative;
    height: 100%;
    width: auto;
    overflow: hidden;
    display: inline-block;
    font-size: 30px;
    padding: 100px;
    top: 20vh;
    left: 52vh;
}

select {
    width: 291px;
}

input {
    width: 250px;
}

select, input {
    display: block;
    border: 1px solid #000000;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
}

div.info {
    top: -25vh;
    left: 65vh;
}

a.btn1 {
    position: relative;
    left: 90px;
    top: -50px;
    text-decoration: none;
    color: black;
}

a.btn2 {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 30px;
    left: 200vh;
    top: -20vh;
}

h1 {
    position: relative;
    text-align: center;
    top: -35vh;
}

p {
    position: relative;
    text-align: center;
    font-size: 25px;
    top: 30vh;
}