* {
    margin: 0;
    padding: 0;
}

html { 
    min-height: 100vh;
    width: 100%;
}

 label, input, select {
    font-size: 2em;
}

div.main-content {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    padding: 40px;
}

 div.from, div.to {
    display: inline-block;
    width: max-content;
    padding: 40px;
}

 select, input {
    width: 20vw;
    box-sizing: border-box;
    border: 1px solid #000000;
    padding: 20px;
    font-size: 35px;
    border-radius: 5px;
    font-style: italic;
    display: flex;
}

h1 {
    position: fixed;
    text-align: center;
    top: 10vh;
    left: 38vw;
    font-size: 3em;
} 

 .btn {
    position: relative;
    left: 95%;
    background-color: white;
    border: none;
    padding: 12px 12px;
    font-size: 45px;
    cursor: pointer;
}

p {
    position: fixed;
    text-align: center;
    width: 100%;
    font-size: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
