<!DOCTYPE html>
<html>
    <head>
        <link href="/static/conversion.css?{{ range(1, 9999) | random }}" 
        media="screen, projector, print" rel="stylesheet" type="text/css"/>
    </head>
    <body>
 
        <p> Hello! I am Andreea Gardelean, an undergraduate student in Computer Science <br>
            I have created this small personal project to apply my current knowledge and coding skills <br>
            During the creation of this project I have also learned more about the web technologies and what it requires to build a web page<br>
            As you might have seen the application converts different height measures and you can see the values and the results as you type<br>
            The application was implemented using JavaScript for the technical part and HTML with CSS for design
        </p>
   
        <a href="/" class="btn2" value="back">Back</a>
    
    </body>
</html>
