<!DOCTYPE html>
<html>
    <head>
        <link href="/static/conversion.css?{{ range(1, 9999) | random }}" 
        media="screen, projector, print" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <p> Hello World! <br>
            You can use this app to convert different length values<br>
            The app was created using JavaScript, CSS, HTML
        </p>

        <a href="/" class="btn2" value="Return">
            <button class="btn"><i class="fa fa-arrow-left"></i></button>
        </a>
    </body>
</html>
