<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/conversion.css?{{ range(1, 9999) | random }}" 
        media="screen, projector, print" rel="stylesheet" type="text/css"/>
    </head>
    
    <body>
        <script>
            const kilometre = {
                from: "kilometre",
                kilometre: 1,
                meter: 1000,
                centimeter: 10**5,
                millimeter: 10**6,
                foot: 3280.84,
                yard: 1093.61,
                mile: 0.621371,
                inch: 39370.1
            };
            const meter = {
                from: "meter",
                kilometre: 0.001,
                meter: 1,
                centimeter: 100,
                millimeter: 1000,
                foot:3.28084,
                yard: 1.09361,
                mile: 0.000621371,
                inch: 39.3701
            };
            const centimeter = {
                from: "centimeter",
                kilometre: 10**-5,
                meter: 0.01,
                centimeter: 1,
                millimeter: 10,
                mile: 6.2137*10**-6,
                yard: 0.0109361,
                foot: 0.0328084,
                inch: 0.393701
            };
            const millimeter = {
                from: "millimeter",
                kilometre: 10**-6,
                meter: 0.001,
                centimeter: 0.1,
                millimeter: 1,
                mile: 6.2137*(10**-7),
                yard: 0.00109361,
                foot: 0.00328084,
                inch: 0.0393701
            };
            const mile = {
                from: "mile",
                kilometre: 1.60934,
                meter: 1609.34,
                centimeter: 160934,
                millimeter: 1.609*(10**6),
                mile: 1,
                yard: 1760,
                foot: 5280,
                inch: 63360
            };
            const yard = {
                from: "yard",
                kilometre: 0.0009144,
                meter: 0.9144,
                centimeter: 91.44,
                millimeter: 914.4,
                mile: 0.000568182,
                yard: 1,
                foot: 3,
                inch: 36
            };
            const foot = {
                from: "foot",
                kilometre: 0.0003048,
                meter: 0.3048,
                centimeter: 30.48,
                millimeter: 304.8,
                mile: 0.000189394,
                yard: 0.333,
                foot: 1,
                inch: 12
            };
            const inch = {
                from: "inch",
                kilometre: 2.54*10**-5,
                meter: 0.0254,
                centimeter: 2.54,
                millimeter: 25.4,
                mile: 1.5783*10**-5,
                yard: 0.0277778,
                foot: 0.08333,
                inch: 1
            };

            const items = [kilometre, meter, centimeter, millimeter,
                            mile, yard, foot, inch]

            function getInputType() {
                var inputType = document.getElementById("inputvaloption").value;
                return inputType;
            }

            function getOutputType() {
                var outputType = document.getElementById("tovaloption").value;
                return outputType;
            }
            function conversion() {
                var value = document.getElementById("inputval").value;
                var from = getInputType().toLowerCase();
                var to = getOutputType().toLowerCase();
                var finalval = 0;

                for (let i=0; i<items.length; i++) {
                    if (from === items[i].from) {
                        for(let k in items[i]) {
                            if(String(to) === String(k)) {
                                finalval = (value*items[i][k]);
                                if(finalval > 3000) {
                                    finalval = finalval.toExponential(4);
                                }
                            }
                        }
                    }
                }
                document.getElementById("toval").value = finalval;
            }
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
        <div class="all">
            <div class="from">
                <label for="inputval" class="labelval">From:<br></label>
                <input type="number" id="inputval" name="inputval" oninput="conversion()">
                <select id="inputvaloption" class="select" name="inputoption" onchange="conversion()" required>
                    <option value="kilometre">Kilometre</option>
                    <option value="meter">Meter</option>
                    <option value="centimeter">Centimeter</option>
                    <option value="millimeter">Millimeter</option>
                    <option value="mile">Mile</option>
                    <option value="yard">Yard</option>
                    <option value="foot">Foot</option>
                    <option value="inch">Inch</option>
                </select>
            </div>
            <div class="to">
                <label class="labelval" for="toval"><br>To:<br></label>
                <input type="number" id="toval" name="toval" value="{{ val }}" disabled>           
                <select id="tovaloption" class="select" name="tooption" onchange="conversion()" required>
                    <option value="kilometre">Kilometre</option>
                    <option value="meter">Meter</option>
                    <option value="centimeter">Centimeter</option>
                    <option value="millimeter">Millimeter</option>
                    <option value="mile">Mile</option>
                    <option value="yard">Yard</option>
                    <option value="foot">Foot</option>
                    <option value="inch">Inch</option>
                </select>
                </div>

            <h1>Height converter</h1>
        </div>
        <a href="/about" class="btn1" value="About">
            <button class="btn"><i class="fa fa-info-circle"></i></button>
        </a>
        
        
    </body>
</html> 